
<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>



<p>
  <%= link_to 'List of restaurants', restaurants_path %>
</p>
